.ChecklistItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  width: 100%;
  gap: 8px;

  font-size: 14px;
  font-weight: bold;

  &.Checked {
    color: green;

    .Separator {
      border-color: green;
    }

  }
}

.Separator {
  width: 100%;
  height: 2px;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-style: dashed;
}

.Item,
.Expect {
  width: fit-content;
  white-space: nowrap;
  text-transform: uppercase;
}

.Checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 24px;
  min-height: 24px;
  padding: 2px;

  border: 2px solid white;
  border-radius: 4px;

  background-color: transparent;
}
