.Pill {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.NoMetarSelected {
  width: fit-content;
  background-color: #5fa9fe;
  color: black;
}
